body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cotainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.player-panel {
    display: flex;
    font-size: 32px;
    margin-bottom: 30px;

}

.player-panel img {
    width: 60px;
}

.player-inactive {
    opacity: 0.5;
}

.player-panel div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
}

table {
    border-collapse: collapse;
}

tr {
    width: 399px;
    height: 130px;
}

td {
    position: relative;
    width: 133px;
    height: 133px;
    border-style: 5px solid black;
    cursor: pointer;
}

td:hover {
  background-color: rgba(221, 162, 0, 0.2);  
}

table td {
    border: 5px solid black;
}

table tr:first-child td {
    border-top: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

tabel tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

.shape {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 26px;
    top: 26px;
}

.d-none {
    display: none;
}

.horizontal-line {
    position: absolute;
    height: 10px;
    background-color: red;
    width: 400px;
    transform: scaleX(0.0);
    transition: transform 225ms ease-in-out;
    
   
}

.make-vertical {
    transform: rotate(90deg) scaleX(0.0);
    position: relative;
    
    
}

.spin-45deg-left {
    transform: rotate(45deg);

}

